body {
    background-color: white;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    border-radius: 8px;
    width: auto;
    height: auto;

}

a {
    text-decoration: none;
    color: black;
}

.carousel-item {
    max-height: 800px
}

#first {
    margin-top: -200px;
}

#second {
    margin-top: -200px;
}

#third {
    width: 100%;
   margin: auto;
}

#container {
    width: 900px;
    text-align: center;

    
}
