
   
    /* .card {
    width: 15vw;
    height: 15vw;
    object-fit: fill;
    justify-content: left;
} */

/* .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: fill;
    justify-content: left;
} */
